In [36]:
import numpy as np
import pandas as pd
df= pd.read_csv("C:/Users/riddh/OneDrive/Documents/train 2.0.csv")

In [38]:
df.head()

,id,title,Rating,maincateg,platform,price1,actprice1,Offer,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Women,Flipkart,698,999,30.13%,38.0,7.0,17.0,9.0,6.0,3,3,0
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Men,Flipkart,999,1999,50.03%,531.0,69.0,264.0,92.0,73.0,29,73,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,Women,Flipkart,2749,4999,45.01%,17.0,4.0,11.0,3.0,2.0,1,0,1
3,495,Men Black Sports Sandal,4.2,Men,Flipkart,518,724,15.85%,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,16408,Men Green Sports Sandal,3.9,Men,Flipkart,1379,2299,40.02%,77.0,3.0,35.0,21.0,7.0,7,7,1

In [39]:
df1=df.dropna(subset=['maincateg','platform','fulfilled1'])

In [40]:
df2=df1.replace('%','',regex=True)
df2.head()

,id,title,Rating,maincateg,platform,price1,actprice1,Offer,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Women,Flipkart,698,999,30.13,38.0,7.0,17.0,9.0,6.0,3,3,0
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Men,Flipkart,999,1999,50.03,531.0,69.0,264.0,92.0,73.0,29,73,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,Women,Flipkart,2749,4999,45.01,17.0,4.0,11.0,3.0,2.0,1,0,1
3,495,Men Black Sports Sandal,4.2,Men,Flipkart,518,724,15.85,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,16408,Men Green Sports Sandal,3.9,Men,Flipkart,1379,2299,40.02,77.0,3.0,35.0,21.0,7.0,7,7,1

In [42]:
import math
df3=df2.fillna({
    'Rating': math.floor(df2.Rating.median()),
    'price1': math.floor(df2.price1.median()),
    'actprice1': math.floor(df2.actprice1.median()),
    'Offer': math.floor(df2.Offer.median()),
    'norating1': math.floor(df2.norating1.median()),
    'noreviews1': math.floor(df2.noreviews1.median()),
    'star_5f': math.floor(df2.star_5f.median()),
    'star_4f': math.floor(df2.star_4f.median()),
    'star_3f': math.floor(df2.star_3f.median()),
    'star_2f': math.floor(df2.star_2f.median()),
    'star_1f': math.floor(df2.star_1f.median())
   
})

AttributeError: 'DataFrame' object has no attribute 'Offer'